<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" monitorInterval="60">
	<Properties>
		<Property name="defaultLayoutPattern">%level\t%d{MMM dd HH:mm:ss} %c{2}.%M: %m%n</Property>
	</Properties>
	<Appenders>
		<Console name="STDOUT" target="SYSTEM_OUT">
			<PatternLayout pattern="${defaultLayoutPattern}"/>
		</Console>
	</Appenders>
	<Loggers>
		<AsyncRoot level="INFO" includeLocation="true">
			<AppenderRef ref="STDOUT"/>
		</AsyncRoot>
	</Loggers>
</Configuration>